<section class="mt-12">
  <h2 class="mb-4 text-2xl font-semibold text-gray-900 dark:text-gray-100">
    {{ "CERTIFICATIONS.TITLE" | translate }}
  </h2>
  <div class="space-y-8">
    <ng-container *ngFor="let certification of certifications">
      <a
        href="{{ certification.url }}"
        target="_blank"
        rel="noopener noreferrer"
        class="block"
      >
        <div class="job-card mb-4 flex cursor-pointer flex-col rounded-lg p-4 transition-colors duration-300 hover:bg-gray-200 md:flex-row dark:hover:bg-gray-700">
          <div class="mr-4 mb-2 h-24 w-24 rounded-full object-cover md:mb-0">
            <img [src]="certification.imageUrl" [alt]="" />
          </div>
          <div class="flex flex-col sm:block sm:text-left">
            <h3
              class="flex flex-wrap items-center gap-2 text-sm font-semibold sm:text-base"
            >
              {{ "CERTIFICATIONS." + certification.key + ".CERT_NAME" | translate }}
            </h3>
            <p class="mt-2 text-sm text-gray-700 dark:text-gray-100">
              {{ "CERTIFICATIONS." + certification.key + ".ORGANIZATION" | translate }}
            </p>
            <div class="mt-2 text-sm text-gray-500 dark:text-gray-100">
              {{ "CERTIFICATIONS." + certification.key + ".DATE" | translate }}
            </div>
          </div>
        </div>
      </a>
    </ng-container>
  </div>
</section>
