<!-- <header class="p-4 bg-gray-200 dark:bg-gray-800 text-black dark:text-white flex justify-between">
  <div>
    <div class="mr-2 bg-black dark:bg-gray-100 text-white dark:text-black inline-flex items-center rounded-md border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent bg-primary text-primary-foreground shadow hover:bg-primary/80">
      <button (click)="switchLang('zh')">中文</button>
    </div>
    <div class="mr-2 bg-black dark:bg-gray-100 text-white dark:text-black inline-flex items-center rounded-md border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent bg-primary text-primary-foreground shadow hover:bg-primary/80">
      <button (click)="switchLang('en')">EN</button>
    </div>
    <div class="mr-2 bg-black dark:bg-gray-100 text-white dark:text-black inline-flex items-center rounded-md border px-2.5 py-0.5 text-xs font-semibold transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 border-transparent bg-primary text-primary-foreground shadow hover:bg-primary/80">
      <button (click)="switchLang('fr')">FR</button>
    </div>
  </div>
  <button (click)="toggleDarkMode()">🌙 切換主題</button>
  <div class="translated-text">{{ "HELLO" | translate }}</div>
  <div class="translated-text">{{ "WELCOME" | translate }}</div>
</header> -->

<main class="p-4 min-h-screen bg-white dark:bg-gray-900 text-black dark:text-gray-100">
  <router-outlet></router-outlet>
</main>

<footer>

</footer>
